---
layout: default
---


{% include header.html %}

<div class="content">
  {% if site.posts.size > 0 %}
    {% for post in site.posts %}
      <ul class="post-list">
        <!-- <div class="post-date">
          <time>{{ post.date | date_to_string }}</time>
        </div> -->
        
        <li class="post-title">
          <a href="{{ post.url }}">
            <time>{{ post.date | date: "%B %d, %Y" }}</time> - 
            {{ post.title }}
          </a>
        </lu> 
        
        <!-- {% if post.description %}
        <p>{{ post.description }}</p>
        {% endif %} -->
        
      </ul>
    {% endfor %}
  {% else %}  
    <h2>No post found</h2> 
  {% endif %}
</div>
